$primaryColor: #007bff;
$successColor: #28a745;
$grayColor: #8e959c;
$darkColor: #000000;
$lightColor: #ffff;
// $darkColor: rgba(247, 240, 240, 0); //for mode
// $lightColor: #000000; //for mode
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none !important;
}
.container-fluid {
  padding: 0 !important;
}
@import "./mixins.scss";
@import "./navbar.scss";
@import "./posts.scss";
@import "./ui-elements.scss";
@import "./footer.scss";
